<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlogin.css') }}"> </head>
<body>
    <h1 class="register">Login</h1>
    <form id="login-form" method="POST" action="/login">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" >
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" >
        </div>
        <button type="submit">Login</button>
    </form>
    <p id="error-message"></p> <script src="{{ url_for('static', filename='adminlogin.js') }}"></script> </body>
</html>
