<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='update.css') }}">
    <title>Update User</title>
</head>
<body>
    <h2>Inventory Update</h2>
    <form action="/update" method="POST">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <label for="username">Product:</label>
        <input type="text" id="username" name="username"><br><br><br>
        <label for="password">Quantity:</label>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>